body{
    font-family:'Manrope', sans-serif;
    background: #f5f5f5;
    width: 100%;
}
.container{
    margin:0 auto;
    width: 1400px;
    background: #FFFFFF;
    padding: 125px;
    box-sizing: border-box; 
}
.interior {
    width: 956px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px; 
    margin-bottom: 30px;
    letter-spacing: -1.8px;
}
.chair{
       background-image: url('../resources/chair.png');
       color:  #FFFFFF;
       background-repeat: no-repeat;
       margin-bottom: 150px;
       width: 1150px;
       height: 500px;
}
.team{
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.6px;
    padding-top: 379px;
    padding-left: 40px;
    width: 430px;
    line-height: 27px;
}
h2{
    color: #121212;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
    letter-spacing: -0.03em;
}
.atelier{
    width: 1048px;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.35px;
    margin-top: 30px;
}
a{
    display: inline-flex;
    padding: 20px 40px;
    border-radius: 5px;
    background: #AD1818;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    text-decoration: none;
}



































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































